[submodule "vendor/chromaprint"]
	path = vendor/chromaprint
	url = https://github.com/acoustid/chromaprint.git
[submodule "vendor/FFmpeg"]
	path = vendor/FFmpeg
	url = https://github.com/magicisinthehole/FFmpeg-with-WMA-Lossless-Enc.git
	branch = wma-lossless-encoder-7.1
	shallow = true
[submodule "vendor/libebur128"]
	path = vendor/libebur128
	url = https://github.com/jiixyj/libebur128.git
